/* pouzivame intuitivnejsi box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 sede pozadi      #e5e5e5
 svetle fialova   #48418e
 tmave fialova    #25133d

 POUZITE PISMO
 Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
https://fonts.google.com/specimen/Source+Sans+Pro
*/
:root{
	--light: #48418e;
	--dark:#462475;
}

body {
	padding: 0;
	margin: 0;
	background-color: #e5e5e5;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	font-family: "Source Sans 3", sans-serif;
 	font-optical-sizing: auto;
  	font-style: normal;
	background-color:#e5e5e5 ;
}

.wrap {
	max-width: 960px; /* obsah stránky je omezený do pruhu širokého max. 960px */
	margin: 0 auto; /* pruh je na stránce vycentrovaný */
	background: white;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* ----- zde začni psát vlastní CSS ----- */
@media screen and (min-width: 1100px){
.menu{
	margin: 0;
	padding: 0;
	display: flex;
	margin-top: 20px;
}
.menu__item{
	list-style: none;
}
.menu__item--inactive{
	padding: 20px 30px;
	font-weight: 700;
}
a{
	text-decoration: none;
	color: black;
	padding: 20px 30px;
	display: inline-block;
}
a:hover{
	background-color: var(--dark);
	color: white;
}

.hero{
	background-image: url(images/pozadi.jpg);
	background-size: 100%;
	color: white;
	position: relative;
	min-height: 450px;
	padding: 30px 40px;
}
.hero__title{
	font-size: 90px;
	font-weight: 400;
	margin: 0;
}
.hero__text{
	font-size: 36px;
	font-weight: 300;
	margin: 30px 0px;
}
.hero__img{
	position: absolute;
	bottom: 0;
	right: 0;
}
.hero__box{
	display: flex;
	gap: 20px;
	margin: 10px 0px;
}
.hero__button{
	color: white;
	border: 1px solid white;
	border-radius: 12px;
	font-size: 20px;
	padding: 15px 30px;
}
.hero__button:hover{
	background-color: var(--light);
}

.container{
	display: flex;
	
	
}
.panel{
	padding: 30px;
	display: flex;
	flex-direction: column;
}
.panel__img{
	width: 60px;
	margin: 10px auto;
}
.panel__title{
	font-size: 20px;
	font-weight: 700;
	color: var(--light);
	text-align: center;
}
.panel__text{
	text-align: center;
	margin: 0;
}
.footer{
	background-color: var(--dark);
	text-align: center;
	color: white;
	padding: 15px;
	margin: 20px 0px;
}
.footer__text{
	margin: 0;
	font-size: 13px;
}
}